@model BugFixer.Application.ViewModels.User.AccessMenuVM
@{
    ViewData["Title"] = "AccessMenu";
}

<section class="sidebar layer-style">
    <header><h3> منوی دسترسی </h3><i class="icon-chevron-down"></i></header>
    <div class="inner">
        <ul>
            <li class="open">
                <span> حساب کاربری </span>
                <ul>
                    <li class="active"><a href="/user-panel"> مشاهده حساب کاربری </a></li>
                    <li><a href="/user-panel/edit"> ویرایش حساب کاربری </a></li>

                    <li><a href="/user-panel/change-password"> تغییر رمز عبور </a></li>
                </ul>
            </li>
            <li><a href="/user-panel/resume"> مدیریت رزومه  </a>  </li>
            <li><a href="/user-panel/questions"> پرسش های من  </a> <i> @Model.QuestionsCount </i> </li>
            <li><a href="/user-panel/answers"> پاسخ های من  </a> <i> @Model.AnswersCount</i> </li>
            <li><a href="/user-panel/followers"> دنبال کنندگان  </a> <i> @Model.FollowersCount </i> </li>
            <li><a href="/user-panel/followings"> دنبال شونده ها  </a> <i> @Model.FollowingsCount </i> </li>
            <li><a href="/user-panel/faq"> سوالات متداول و راهنما  </a> </li>
        </ul>
    </div>
</section>


