<aside>

    <!-- most popular post -->
    <section class="most-popular-questions">

        @await Component.InvokeAsync("MostRateQuestions")
        @await Component.InvokeAsync("TopQuestions")

    </section>
    <!-- /most popular post -->

    <!-- most controversial tags -->
    <section class="most-controversial-tags">
        <header><h2> پر بحث ترین تگ ها </h2></header>
        @await Component.InvokeAsync("MostDiscussedQuestionTags")
    </section>
    <!-- /most controversial posts -->
    <!-- banner -->
    <div class="banner-layer">
        <a href=""><img src="images/banner.jpg"></a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="banner-layer">
        <a href=""><img src="images/banner-2.jpg"></a>
    </div>
    <!-- /banner -->

</aside>